@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 1rem auto;
}


/* header style */

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.header h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.hamburg{
    display: none;
}

.nav-links{
    display: flex;
    gap: 1rem;
}

.nav-list{
    display: flex;
    gap: 2rem;
}

.nav-list li{
    list-style: none;
}

.nav-icon i{
     margin-right: 1.5rem;
}

/* hero section */

.hero-container{
    display: flex;
}

.hero-content{
    width: 512px;
    height: 270px;
    align-items: center;
    justify-content: center;
    margin: 200px;
}

.hero-content h3{
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
}

.hero-content p{
    font-weight: 600;
    font-size: 16px;
}

.hero-content button{
    width: 196px;
    height: 44px;
    border: none;
    background-color: rgb(224, 44, 109);
    border-radius: 2.5rem;
    color: white;
    margin-top: .5rem;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.hero-img{
    background-image: url("./assets/images/Circle\ design.svg");
    background-repeat: no-repeat;

}

.hero-img img{
    width: 440px;
    height: 420px;
    text-align: center;
    margin-top: 20px;

}

/* company style */

.company{
    width: 70%;
    margin: 0 auto;
}

.company-logo{
    display: grid;
    grid-template-columns: repeat( 7, .5fr)  ;
    
    
    margin: 30px;
}

hr{
     color: rgb(255, 251, 251);
}

/* popular section */

.popular{
    width: 90%;
    margin: 0 auto;
    background-color: grey;
    padding: 1rem;
    margin-bottom: 60px;
}

.popular h2{
    text-align: center;
    margin-top: 50px;
}

.collection{
    margin: 60px;
}

.row-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 60px;
    gap: 1rem;
}
.row-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 60px;
    gap: 1rem;
}
.row-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 60px;
    gap: 1rem;
}

.collection-card{
    background-color: aliceblue;
    padding: 1rem;
    border-radius: .5rem;
}

/* feature section */

.feature{
    width: 90%;
    margin: 0 auto;
}

.feature-container{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    gap: 6rem;
}
.feature-content{
    padding: 3rem;
}
.feature-content h2{
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
}

.feature-content p{
    font-size: 16px;
    font-weight: 700;
    margin-top: 1rem;
}

.feature-content button{
    width: 175px;
    height: 34px;
    margin-top: 1rem;
    background-color: rgb(224, 44, 109);
    color: white;
    font-weight: 700;
    border: none;
    padding: 10px;
}

/* footer */

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4rem;
}

.footer-icons i{
    margin-left: .5rem;
    margin-top: 1rem;
}


/* responsive for mobile */

@media screen and (max-width: 576px) {
    .nav-list{
        display: none;
    }

    .hamburg{
        display:  block;
        border: 1px dashed blue;
        font-size: 24px;
    }

    .header h3{
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
    }
    .nav-icon i{
        font-size: 20px;
    }
    .hero-container{
        flex-direction: column;
    }

    .hero-content{
        width: 50%;
        text-align: left;
        margin-left: 2rem;
        
    }

    .hero-img{
        margin-left: 0;
        width: 100%;
    }
    .hero-img img{
        width: 100%;
        text-align: left;
         
    
    }
    .company{
        margin-top: 100px;
        
    }

    .company-logo{
        grid-template-columns:  repeat(4, .2fr);
        margin: 0 auto;
        gap: 1rem;
        text-align: center;
       
    }

    .company-logo img{
        width: 100%;
        margin-right: 1rem;

    }

    hr{
        display: none;
    }
    .popular{
        width: 100%;

    }

    .row-1,.row-2,.row-3{
        grid-template-columns: repeat(1,1fr);
    }

    .collection-card{
         max-width: 100%;
         margin: 0 auto;
    }
    .collection{
        margin: 1rem auto;
    }

    .feature{
        width: 100%;
    }

    .feature-container{
        grid-template-columns: 1fr;
        margin: 0 auto;
        gap: 1rem;
    }
}
